div  h1{
	color:red;

}

#c1{
	font-size: 50px;
}

#cuadrov{
	background-color: green;

}
#cuadror{
	background-color: red;

}
#cuadroa{
	background-color: blue;

}
#cuadrovd{
	background-color: green;

}